<!-- country_detail.html --> 
{% extends 'base.html' %}
{% block title %}
  Рейтинги {{country}}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <h4>Рейтинги страны {{country}} в {{year}} году </h4>
      {% for rating in country_ratings %}
        <ul>
          <li>
            <a href="{% url 'ratings:country' country.slug year %}">
            {{country}}
            </a>
            занимает
            {{rating.place.place}}
            место из 
            {{rating.place.overall}}
            ({{rating.place.koef}}%)
            в рейтинге
            <a href="{% url 'ratings:rating' rating.rating.slug rating.year %}">
            {{rating.rating.name}}
            в 
            {{rating.year}}
            году
            </a>
          </li>
        </ul>
        <p></p>    
      {% endfor %} 
      Средний рейтинг - {{rating_avg}}%
    </div>
  </div>
{% endblock %}