<!-- templates/ratings/index.html --> 
{% extends 'base.html' %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      {% for country in page_obj %}
      <ul>
          <b>{{forloop.counter0|add:start_index}}.</b> 
          {% comment %} {{country}} {% endcomment %}
          <a href="{% url 'ratings:country' country.country.slug country.year %}">
            {{country.country.name}}
          </a>
          имеет
          {{country.value}}
          баллов в рейтинге
          <a href="{% url 'ratings:rating' country.rating.slug country.year %}">
          {{country.rating}}
          </a>
          в
          {{country.year}}
          году
      </ul>
      <p></p>    
      {% endfor %} 
      {% include 'includes/paginator.html' %}
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}