<!-- rating_detail.html --> 
{% extends 'base.html' %}
{% block title %}
  Рейтинг {{rating}} {{year}} 
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <h4>Рейтинг {{rating}} {{year}} года </h4>
      <p></p>
      {% for country in page_obj %}
        <ul>
            <b>{{forloop.counter0|add:start_index}}.</b>
            <a href="{% url 'ratings:country' country.country.slug country.year %}">
              {{country.country.name}}
            </a>
            имеет
            {{country.value}}
            баллов в рейтинге
            <a href="{% url 'ratings:rating' country.rating.slug country.year %}">
            {{country.rating}}
            </a>
            в
            {{country.year}}
            году
        </ul>
        <p></p>    
      {% endfor %} 
      {% include 'includes/paginator.html' %}
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}